<!DOCTYPE html>
<html lang="en">
    <head>
        <title>V-model</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="../assets/js/vue.js"></script>
    </head>
    <body>
        <h1>V-model</h1>
        <hr>
        <div id="app">
            <p>原始文本信息:{{message}}</p>
            <h3>文本框</h3>
            <p>v-model<input v-model="message" type="text"></p>
            <p>v-model.lazy<input v-model.lazy="message" type="text"></p>
            <p>v-model.number<input v-model.number="message" type="text"></p>
            <p>v-model.trim<input v-model.trim="message" type="text"></p>
            <hr>
            <h3>文本域</h3>
            <textarea v-model="message" cols="30" rows="10"></textarea>
            <hr>
            <h3>多选框绑定一个值</h3>
            <input type="checkbox" id="nini" v-model="isTrue">
            <label for="nini">{{isTrue}}</label>
            <hr>
            <h3>多选框绑定数组</h3>
            <p>
                    <input v-model="names" type="checkbox" value="你跑" id="nipo" >
                    <label for="nipo">nipo</label>
                    <input v-model="names" type="checkbox" value="皖南" id="wann" >
                    <label for="wann">wann</label>
                    <input v-model="names" type="checkbox" value="何" id="he" >
                    <label for="he">he</label>
                    <input v-model="names" type="checkbox" value="咯咯" id="lolo" >
                    <label for="lolo">lolo</label>
            </p>
            <p>{{names}}</p>
            <hr>
            <h3>单选框</h3>
            <p>
                <input v-model="sex" type="radio" id="ri" value="男">
                <label for="ri">男</label>
                <input v-model="sex" type="radio" id="ro" value="女">
                <label for="ro">女</label>
                <p>{{sex}}</p>
            </p>
        </div>

        <script type="text/javascript">
            var app = new Vue({
                el:'#app',
                data:{
                    message:'hello',
                    isTrue:true,
                    names:[],
                    sex:'男',
                },
            })
        </script>
    </body>
</html>